* {
  box-sizing: border-box;
}

body {
  background: url('../public/img/stars.jpg') repeat 0 0;
  animation: animate 15s infinite;
  animation-timing-function: linear;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

@keyframes animate {
  100% {
    background-position: 3000px 3000px;
  }
}
.rocket-background {
  position: absolute;
  display: grid;
  place-items: center;
  height: 100vh;
  z-index: -1;
}

.rocket-background img {
  width: 40%;
  transform: rotate(360deg);
  transition: 1s;
}

@keyframes img-active {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.quiz-container {
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgb(0, 55, 255);
  width: 900px;
  overflow: hidden;
  opacity: 0.8;
  height: fit-content;
}

.quiz-header {
  padding: 4rem;
}

h1 {
  margin: 4px 9px 0px 9px;
}
h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  list-style: none;
  padding: 3rem;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 1rem;
  width: 20rem;
  height: 5rem;
  border: 1px solid rgb(0, 55, 255);
  border-radius: 9999px;
  background-color: rgb(250, 170, 170);
}

ul li label {
  cursor: pointer;
}

button {
  background-color: rgb(0, 26, 255);
  color: aliceblue;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  border: none;
}

button:hover {
  background-color: rgb(169, 169, 169);
  color: rgb(0, 26, 255);
  scale: 1.2;
  transition: 1s;
}

/*WELCOME PAGE STYLES*/

#welcome-outer-div {
  background-color: #031b2b;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  height: 60vh;
  font-family: 'Teko', sans-serif;
  opacity: 0.8;
  backdrop-filter: blur(15px);
}

#quiz-rules-list {
  white-space: pre;
  color: #d0e5f3;
  line-height: 2rem;
}

#bottom-div {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 15px;
}

#input-name {
  text-align: center;
  width: 25%;
  height: 8vh;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgb(255, 255, 255);
  margin: auto;
  font-size: 1.5rem;
  background-color: #b0d5e7;
  color: #087ac5;
}

#start-quiz-button {
  width: 25%;
  height: 8vh;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgb(248, 248, 248);
  text-align: center;
  align-items: center;
  margin: auto;
  font-size: 1.5rem;
  background-color: #b0d5e7;
  color: #087ac5;
}
#start-quiz-button:hover {
  font-size: 1.7rem;
  font-weight: 900;
  color: #04a72d;
  background-color: #d0e5f3;
}

#quiz-rules-list {
  font-size: large;
}

#welcome-h1 {
  color: #d0e5f3;
  font-size: 2.5rem;
}

@media (max-width: 900px) {
  .quiz-container {
    width: fit-content;
    display: grid;
    margin-top: -5rem;
  }

  .rocket-background img {
    width: 80%;
  }

  #welcome-outer-div {
    height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    font-family: 'Teko', sans-serif;
    backdrop-filter: blur(15px);
  }

  #quiz-rules-list {
    display: none;
  }
  #welcome-h1 {
    color: #d0e5f3;
    font-size: 2.5rem;
    padding: 10px;
  }
  #start-quiz-button {
    margin-top: 5%;
    width: 50%;
    height: 6vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgb(248, 248, 248);
    text-align: center;
    align-items: center;
    font-size: 0.8rem;
    background-color: #313334;
    color: #087ac5;
  }
  #start-quiz-button:hover {
    font-size: 0.8rem;
    color: #04a72d;
    background-color: #d0e5f3;
    text-align: center;
    align-items: center;
  }
  #input-name {
    text-align: center;
    width: 50%;
    height: 6vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
    margin: auto;
    font-size: 1rem;
    background-color: #313334;
    color: #d0e5f3;
  }
  #bottom-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin-top: 2%;
  }

  ul {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 1.4em;
  }
  /* .rocket-background img{
      width: 80%;
  } */
}
